<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colourPicker.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>colourPickerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1267},{440,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,440}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>colourPickerOverlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1267},{440,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,440}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>colourPickerShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,666},{440,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,440}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>huePickerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,666},{600,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>menuCircleWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>menuColourPanelBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{694,664}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{694,664}}</string>
                <key>sourceSize</key>
                <string>{720,664}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CCControlColourPickerSpriteSheet-uhd.png</string>
            <key>size</key>
            <string>{1043,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d780ef864ca4e3318852f74ea37d1d6:d7c2f1c2cc1cb4cb54d65154fdc7ece7:2b821b097ab26f5f21ccffb66d7c514c$</string>
            <key>textureFileName</key>
            <string>CCControlColourPickerSpriteSheet-uhd.png</string>
        </dict>
    </dict>
</plist>
