<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_moreGamesBtn_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{135,133}}</string>
    <key>offset</key>
    <string>{2,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{163,133}</string>
   </dict>
   <key>GJ_superCoin_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{136,0},{95,96}}</string>
    <key>offset</key>
    <string>{-1,18}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{97,133}</string>
   </dict>
   <key>gj_fbIcon_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{201,134},{61,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{61,61}</string>
   </dict>
   <key>robtoplogo_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,134},{200,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{200,56}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>GJ_modificationsSheet.png</string>
  </dict>
 </dict>
</plist>
