<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>aPlayerColors</key>
        <array>
            <integer>8257280</integer>
            <integer>65280</integer>
            <integer>65408</integer>
            <integer>65535</integer>
            <integer>32255</integer>
            <integer>255</integer>
            <integer>8192255</integer>
            <integer>16711935</integer>
            <integer>16711805</integer>
            <integer>16711680</integer>
            <integer>16743680</integer>
            <integer>16776960</integer>
            <integer>16777215</integer>
            <integer>12124415</integer>
            <integer>16759040</integer>
            <integer>0</integer>
            <integer>51455</integer>
            <integer>11513775</integer>
            <integer>5921370</integer>
            <integer>16743805</integer>
            <integer>44875</integer>
            <integer>32125</integer>
            <integer>19375</integer>
            <integer>4915375</integer>
            <integer>8192125</integer>
            <integer>11468875</integer>
            <integer>11488000</integer>
            <integer>8224000</integer>
            <integer>4960000</integer>
            <integer>9143807</integer>
            <integer>9553049</integer>
            <integer>8425349</integer>
            <integer>2105376</integer>
            <integer>10844546</integer>
            <integer>12160679</integer>
            <integer>15782903</integer>
        </array>
        <key>iColorMaxDispId</key>
        <integer>23</integer>
        <key>iPlayerMaxId</key>
        <integer>48</integer>
        <key>iShipMaxId</key>
        <integer>18</integer>
        <key>iBallMaxId</key>
        <integer>10</integer>
        <key>iBirdMaxId</key>
        <integer>10</integer>
        <key>iSpecialMaxId</key>
        <integer>2</integer>
    </dict>
</plist>