*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/discord.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.so
app/src/full/gjAssets/**
!app/src/full/gjAssets/.keep
app/src/full/assets/**
assets/built/hd/**
!assets/built/hd/.keep
assets/built/sd/**
!assets/built/sd/.keep
assets/built/uhd/**
!assets/built/uhd/.keep
app/signing.properties
app/release
