<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_aboutBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,0},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>GJ_adminBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_coinBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,89},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_creatorBadge_01_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,178},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_creatorBadge_10_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,178},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_creatorBadge_50_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,89},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_developerBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,267},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_gameplayBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,61},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>GJ_globalBadge_01_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,89},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_globalBadge_10_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,178},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_globalBadge_50_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,0},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_interfaceBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,122},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>GJ_modBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,0},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_songsBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{178,267},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
   <key>GJ_trollBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,267},{88,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{88,88}</string>
   </dict>
   <key>GJ_tweaksBadge_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{267,183},{60,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{60,60}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>GJ_badgeSheet.png</string>
  </dict>
 </dict>
</plist>
