<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_moreGamesBtn_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{68,67}}</string>
    <key>offset</key>
    <string>{1,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{82,67}</string>
   </dict>
   <key>GJ_superCoin_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,0},{46,48}}</string>
    <key>offset</key>
    <string>{0,9}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{48,67}</string>
   </dict>
   <key>gj_fbIcon_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,68},{31,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{31,31}</string>
   </dict>
   <key>robtoplogo_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{100,28}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{100,28}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>GJ_modificationsSheet.png</string>
  </dict>
 </dict>
</plist>
