<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>GJ_moreGamesBtn_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{268,265}}</string>
    <key>offset</key>
    <string>{4,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{326,266}</string>
   </dict>
   <key>GJ_superCoin_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,0},{188,191}}</string>
    <key>offset</key>
    <string>{0,37}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{194,266}</string>
   </dict>
   <key>gj_fbIcon_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{401,266},{122,121}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{122,122}</string>
   </dict>
   <key>robtoplogo_small.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{400,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceSize</key>
    <string>{400,112}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>GJ_modificationsSheet.png</string>
  </dict>
 </dict>
</plist>
